Asignaturas/Lenguaje de Marcas/XML/XSD/apartado5/vehiculos.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="vehiculo"> 
        <xs:complexType>
            <xs:choice>
                <xs:element name="barco" type="xs:string"/>
                <xs:element name="bicicleta" type="xs:string"/>
                <xs:element name="coche" type="xs:string"/>
                <xs:element name="tren" type="xs:string"/>
            </xs:choice>    
        </xs:complexType>
    </xs:element>
</xs:schema>
